name: Go

on:
  push:
    branches:
      - main
      - pmm-*
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

  pull_request:

jobs:
  test:
    name: Test
    strategy:
      matrix:
        proxysql-image:
          - percona/proxysql:1.2.1
          - perconalab/proxysql:1.3.6
#          - percona/proxysql2:2.7
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ${{ github.workspace }}/go.mod

      - name: Build
        run: make build

      - name: Run checks
        run: |
          go build -modfile=go.mod -o bin/golangci-lint github.com/golangci/golangci-lint/cmd/golangci-lint
          go build -modfile=go.mod -o bin/reviewdog github.com/reviewdog/reviewdog/cmd/reviewdog
          bin/golangci-lint run -c=.golangci-required.yml --out-format=line-number | env REVIEWDOG_GITHUB_API_TOKEN=${{ secrets.GITHUB_TOKEN }} bin/reviewdog -f=golangci-lint -level=error -reporter=github-pr-check
          bin/golangci-lint run -c=.golangci.yml --out-format=line-number | env REVIEWDOG_GITHUB_API_TOKEN=${{ secrets.GITHUB_TOKEN }} bin/reviewdog -f=golangci-lint -level=error -reporter=github-pr-review
          make format
          git diff --exit-code
          make build

      - name: Run Tests
        env:
          PROXYSQL_IMAGE: ${{ matrix.proxysql-image }}
        run: |
          docker --version
          docker compose --version
          docker compose up -d
          make testall

      - name: Run debug commands on failure
        if: ${{ failure() }}
        run: |
          env
          go version
          go env
          pwd
          git status
